.keypad--green {
  background: #5ac85a;
  color: #fff;
  transition: color, background-color 0.3s ease-in;
}
.keypad--yellow {
  background: #e2cc68;
  color: #fff;
  transition: color, background-color 0.3s ease-in;
}
.keypad--grey {
  background: #a1a1a1;
  color: #fff;
  transition: color, background-color 0.3s ease-in;
}
